.single-pricing {
  padding: 0;
}

.pricing-btn {
  margin-bottom: 1.2rem;
}

.pricing-list {
  padding: 0 1rem;
}

.pricing-list li {
  text-align: center;
}

@media (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
}
